.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Poppins";
}

.four_zero_four_bg {
  background: url("../public/images/404.gif");
  height: 450px;
  background-position: center;
  text-align: center;
}

.four_zero_four_bg .h1 {
  font-size: 80px;
}

.content_box_404 .h3 {
  font-size: 80px;
}

.content_box_404 .link {
  margin-top: 12px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #39ac31;
  display: inline-block;
}

.content_box_404 {
  margin-top: -50px;
  text-align: center;
}
.content_box_404 .link:hover {
  text-decoration: none;
  color: #000;
}
